#playGround {
    position: absolute;
    top: 0;
    left: 0;
}
#controls {
    position: absolute;
    top: 0;
    left: 410px;
    width: 300px;
    padding: 5px;
    border-radius: 5px;
    border: grey 1px solid;

}
a {
    font-weight: bold;
    color: black;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}